<a href="https://colab.research.google.com/github/ludawg44/data_engineering_jigsaw_labs/blob/main/Continuing_Functions/4_refactor_functions_challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Refactor with Functions Challenges

### Introduction

Let's take the code from our previous movies lab, and see if we can make our code more flexible with functions.

### Function Changes

> Load the data by pressing `shift + return` below.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-a-data-structures/master/4-functions/imdb_movies.csv"
df = pd.read_csv(url)
movies = df.to_dict('records')

1. `movies_since`

Write a method called `movies_since` that will return only the movies after a certain year.

In [ ]:
def movies_since():
  return [movie for movie in movies if movie['year'] >= 2015]

2. `find_by`

In the last lesson, we also had a `find_by_genre` method. 

```python

def find_by_genre(movies, genre_name):
    genre_name = genre_name.title()
    return [movie for movie in movies 
    if movie['genre'] == genre_name]
```

Let's say that we wanted the ability to return movies with matching year, genre, or title, etc.  Change the function to so that we return movies where checks if any attribute matches.

In [ ]:
movies[0]

{'budget': 237000000,
 'genre': 'Action',
 'month': 12,
 'revenue': 2787965087,
 'runtime': 162.0,
 'title': 'Avatar',
 'year': 2009}

In [ ]:
def find_by(movies, category, value):
    return [movie for movie in movies if movie[category] == value]

# find_by(movies, 'year', 2016)

In [ ]:
# test
find_2009_movies = find_by(movies, 'year', 2009)
find_2009_movies[:3]

[{'budget': 237000000,
  'genre': 'Action',
  'month': 12,
  'revenue': 2787965087,
  'runtime': 162.0,
  'title': 'Avatar',
  'year': 2009},
 {'budget': 250000000,
  'genre': 'Adventure',
  'month': 7,
  'revenue': 933959197,
  'runtime': 153.0,
  'title': 'Harry Potter and the Half-Blood Prince',
  'year': 2009},
 {'budget': 150000000,
  'genre': 'Science Fiction',
  'month': 6,
  'revenue': 836297228,
  'runtime': 150.0,
  'title': 'Transformers: Revenge of the Fallen',
  'year': 2009}]

3. Rewrite `find_by_genre` 

Now use the `find_by` method to rewrite the `find_by_genre` method.  The `find_by_genre` method should be case insensitive.

In [ ]:
def find_by_genre(movies, value):
  return find_by(movies, 'genre', value)

In [ ]:
# test
find_by_genre(movies, 'Science Fiction')[:3]

[{'budget': 220000000,
  'genre': 'Science Fiction',
  'month': 4,
  'revenue': 1519557910,
  'runtime': 143.0,
  'title': 'The Avengers',
  'year': 2012},
 {'budget': 150000000,
  'genre': 'Science Fiction',
  'month': 6,
  'revenue': 836297228,
  'runtime': 150.0,
  'title': 'Transformers: Revenge of the Fallen',
  'year': 2009},
 {'budget': 210000000,
  'genre': 'Science Fiction',
  'month': 6,
  'revenue': 1091405097,
  'runtime': 165.0,
  'title': 'Transformers: Age of Extinction',
  'year': 2014}]

4. `top` function

In the previous lesson, we wrote code to select the top 100 movies by revenue.

In [ ]:
top_100_revenue = sorted(movies,
       key = lambda movie: movie['revenue'],
       reverse = True)[:100]

Write a method called `top` that: 
1. Returns the top 100 movies by any category
    * For example, it should work for budget as well
2. Limits to the top 100 as the default, but allows for specifying any limit.
3. Has an argument `desc` that by default is `True` and sorts from top to bottom.

In [ ]:
def top(movies, category, limit = 100, desc = True):
  return sorted(movies, key = lambda movie: movie[category], reverse = desc)[:limit]

In [ ]:
top(movies,'runtime', 2)

[{'budget': 0,
  'genre': nan,
  'month': 10,
  'revenue': 25000000,
  'runtime': 254.0,
  'title': 'Gettysburg',
  'year': 1993},
 {'budget': 31115000,
  'genre': 'Drama',
  'month': 6,
  'revenue': 71000000,
  'runtime': 248.0,
  'title': 'Cleopatra',
  'year': 1963}]

5. `movies_from`

What if we wanted a method that could allow us to find movies only before a year, or only after a year, or both.

In [ ]:
movies[0]

{'budget': 237000000,
 'genre': 'Action',
 'month': 12,
 'revenue': 2787965087,
 'runtime': 162.0,
 'title': 'Avatar',
 'year': 2009}

In [ ]:
def year_filter(movies, year, filter): 
  movies_list = []
  for movie in movies:
    if filter == 'before': 
      if movie['year'] < year:
        movies_list.append(movie)
    elif filter == 'after':
      if movie['year'] > year:
        movies_list.append(movie)
    elif filter == 'both':
      movies_list.append(movie)
  return movies_list

In [ ]:
both_test = year_filter(movies, 2009, 'both')
both_test[:3]

[{'budget': 237000000,
  'genre': 'Action',
  'month': 12,
  'revenue': 2787965087,
  'runtime': 162.0,
  'title': 'Avatar',
  'year': 2009},
 {'budget': 300000000,
  'genre': 'Adventure',
  'month': 5,
  'revenue': 961000000,
  'runtime': 169.0,
  'title': "Pirates of the Caribbean: At World's End",
  'year': 2007},
 {'budget': 245000000,
  'genre': 'Action',
  'month': 10,
  'revenue': 880674609,
  'runtime': 148.0,
  'title': 'Spectre',
  'year': 2015}]

In [ ]:
def movies_from(movies, year, filter):
  return [movie for movie in movies if filter == 'before' ]

movies_from(movies, 2009, after)

# Not complete!

Then write the code to check your work below.

### Summary

In this lesson, we practiced making our code more flexible with functions.  Notice that to do so, we identified the values that we're hard coded and turned them into arguments.  This made our hard-coded values, and thus the functionality of our code, more flexible.